a {
    cursor: pointer;
}

.logo {
    height: 50px;
}

.navbar-expand-lg {
    height: 100px;
    font-family: Nunito;
}

.app-nav {
    height: 100%;
}

.log-btn {
    border: none;
    padding: 7px 11px;
}