<nav class="navbar-expand-lg bg-body-tertiary">
    <div class="d-flex justify-content-between align-items-center app-nav">
        <div>
            <img class="logo mx-2" src="assets/images/logo-green.png">
            <a class="navbar-brand mx-2 fs-2" (click)="goHomeBuddy()">Organica</a>
        </div>
        <!-- <div>
            <a class="nav-link active fs-2" aria-current="page" (click)="goHomeBuddy()"><i
                    class="bi bi-house fs-1"></i></a>
        </div> -->
        <div class="d-flex align-items-center">
            <button *ngIf="!isLogin" type="button" class="log-btn mx-2 fs-3 bg-green c-white rounded-5 p-3" (click)="onLogin()">Login</button>
            <button *ngIf="isLogin" type="button" class="log-btn mx-2 fs-3 bg-green c-white rounded-5" (click)="onLogin()">Logout</button>
            <a *ngIf="isLogin" class="nav-link active mx-2 fs-1" aria-current="page" (click)="accountPage()"><i
                    class="bi bi-person-circle"></i></a>
        </div>
    </div>
</nav>