<app-nav></app-nav>

<div class="container my-5 rounded-0 text-center" id="welcome">
    <h1 class="display-5 fw-bold c-green">Welcome back [consumer name]!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Here are the items you have on order.<br></p>
    </div>
</div>
<div class="card container rounded-0" id="consumerOrder">
    <div class="cartItem">
            <img src="./assets/images/banana.png" height="80px">
            <h6>Bananas | Tropicanal Farms</h6>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Left</button>
                <button type="button" class="btn btn-primary">Middle</button>
                <button type="button" class="btn btn-primary">Right</button>
            </div>
    </div>
    <div class="cartItem">

    </div>
    <div class="cartItem">

    </div>
    <table class="table table-striped">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>Box of Eggs</td>
            <td>3</td>
            <td>$5.00</td>
            <td>$15.00</td>
        </tr>
        <tr>
            <td>Envy Apples</td>
            <td>8</td>
            <td>$1.00</td>
            <td>$8.00</td>
        </tr>
        <tr>
            <td>Celery</td>
            <td>2</td>
            <td>$2.00</td>
            <td>$4.00</td>
        </tr>
        <tr>
            <td><b>TOTAL</b></td>
            <td></td>
            <td></td>
            <td><b>$27.00</b></td>
        </tr>
    </table>
</div>


<app-footer></app-footer>