<app-nav></app-nav>

<div class="consumer-cmp card container rounded-0 p-4 my-5 text-center" id="consumerOrder">
    <!-- <div class="cartItem">
        <img src="./assets/images/banana.png" height="80px">
        <h6>Bananas | Tropicanal Farms</h6>
    </div> -->
    <div>
        <h1 class="display-5 fw-bold c-green">Welcome back, <span id="userName">{{user?.name}}</span></h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Here are the items you have on order.<br></p>
        </div>
    </div>

    <div class="mb-4 mx-auto">
      <ul class="nav nav-pills">
        <li class="nav-item mx-2">
            <button class="info-btn bg-green c-white rounded-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#orders" aria-expanded="false" aria-controls="orders" [routerLink]="['/products']">
                Browse More
            </button>
        </li>
        <!-- <li class="nav-item mx-2">
            <button class="info-btn bg-green c-white rounded-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#info" aria-expanded="false" aria-controls="info">
                Your Info
            </button>
        </li> -->
        <li class="nav-item mx-2">
            <button class="info-btn bg-green c-white rounded-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#info" aria-expanded="false" aria-controls="info">
                Edit Orders
            </button>
        </li>
    </ul>  
    </div>
    
    <div class="collapse.show" id="orders">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cart of carts; index as i">
                    <td *ngIf="!isProducts" colspan="5">No products in cart to display</td>
                    <td *ngIf="isProducts">{{cart?.name}}</td>
                    <td *ngIf="isProducts">{{cart?.quantity}}</td>
                    <td *ngIf="isProducts">{{cart?.price | currency}}</td>
                    <td *ngIf="isProducts">{{cart?.quantity * cart?.price | currency}}</td>
                    <td *ngIf="isProducts" (click)="remove(i)"><i class="fa-solid fa-xmark" style="color: red; cursor: pointer;"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true"><i class="bi bi-caret-left-fill c-black"></i></span>
                        </a>
                    </li>
                    <li class="page-item "><a class="page-link c-black" >1</a></li>
                    <li class="page-item"><a class="page-link c-black" >2</a></li>
                    <li class="page-item"><a class="page-link c-black" >3</a></li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true"><i class="bi bi-caret-right-fill c-black"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="collapse" id="info">
        <h3 class="my-3 text-center">Billing Info</h3>
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-4" id="floatingInput1" placeholder="">
                        <label for="floatingInput1">First Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-4" id="floatingPassword1" placeholder="">
                        <label for="floatingPassword1">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-4" name="password" id="floatingPassword2"
                    placeholder="Password">
                <label for="floatingPassword2">Address</label>
            </div>
            <div class="row d-flex align-items-center mb-4">
                <div class="col">
                    <select class="form-select p-3 rounded-4" id="country" required="">
                        <option value="">Country...</option>
                        <option>Canada</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select p-3 rounded-4" id="province" required="">
                        <option value="">Province...</option>
                        <option>British Columbia</option>
                    </select>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-4" id="floatingPassword3" placeholder="">
                        <label for="floatingPassword3">Postal Code</label>
                    </div>
                </div>
                <h3 class="my-3 text-center">Payment Info</h3>
                <div class="row">
                    <div class="col">
                        <label for="inputPassword5" class="form-label">Name on Card</label>
                        <input type="password" id="inputPassword4" class="form-control">
                    </div>
                    <div class="col">
                        <div class="col">
                            <label for="inputPassword5" class="form-label">Number on Card</label>
                            <input type="password" id="inputPassword5" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="inputPassword5" class="form-label">Expiration</label>
                        <input type="password" id="inputPassword6" class="form-control">
                    </div>
                    <div class="col">
                        <div class="col">
                            <label for="inputPassword5" class="form-label">CVV</label>
                            <input type="password" id="inputPassword7" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div class="card container rounded-0 p-4 my-5 text-center">
    <h2></h2>
    <div>
        <p class="my-0">
            <button class="info-btn bg-green c-white rounded-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Your Billing and Payment Info
            </button>
        </p>
        <div class="mb-3">
            <div class="collapse" id="collapseExample">
                <h3 class="my-3 text-center">Billing Info</h3>
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-4" id="floatingInput1" placeholder="">
                                <label for="floatingInput1">First Name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control rounded-4" id="floatingPassword1" placeholder="">
                                <label for="floatingPassword1">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-4" name="password" id="floatingPassword2"
                            placeholder="Password">
                        <label for="floatingPassword2">Address</label>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col">
                            <select class="form-select p-3 rounded-4" id="country" required="">
                                <option value="">Country...</option>
                                <option>Canada</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select p-3 rounded-4" id="province" required="">
                                <option value="">Province...</option>
                                <option>British Columbia</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control rounded-4" id="floatingPassword3" placeholder="">
                                <label for="floatingPassword3">Postal Code</label>
                            </div>
                        </div>
                        <h3 class="my-3 text-center">Payment Info</h3>
                        <div class="row">
                            <div class="col">
                                <label for="inputPassword5" class="form-label">Name on Card</label>
                                <input type="password" id="inputPassword5" class="form-control">
                            </div>
                            <div class="col">
                                <div class="col">
                                    <label for="inputPassword5" class="form-label">Number on Card</label>
                                    <input type="password" id="inputPassword5" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <label for="inputPassword5" class="form-label">Expiration</label>
                                <input type="password" id="inputPassword5" class="form-control">
                            </div>
                            <div class="col">
                                <div class="col">
                                    <label for="inputPassword5" class="form-label">CVV</label>
                                    <input type="password" id="inputPassword5" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<app-footer></app-footer>