#changeBanking {
    padding-top: 10px;
}

#loginConfirmBtn {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.table {
    font-size: small;
}

.consumer-cmp {
    font-family: Nunito;
}

.info-btn {
    border: none;
    padding: 10px 10px;
}