.thumbnail {
    position: relative;
    max-width: 100vw;
}

.caption {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: white;
}

header, section {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
}

header {
    top: 0;
}

section {
    top: 0;
}

a {
    cursor: pointer;
}

footer {
    background-color: lightgreen;
    color: white;
}

.footer-footer {
    background-color: green;
}

.s23-main-body {
    max-width: 600px;
    min-width: 100px;
    background-color: #6962d9;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0 0 20px #ececf1;
}

.s23-app-card {
    min-height: 10px;
    padding-bottom: 30px;
}

.s23-app-users-container {
    width: 100%;
    padding: 35px 40px 0;
}