<app-nav></app-nav>

<header class="py-3 field-img">

  <div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="assets/images/field.jpg" alt="" class="img-responsive">
        <div class="text-center my-5 caption">
          <p class="text-white fs-5 mb-0">Welcome to</p>
          <h1 class="text-white fs-1 fw-bolder">Organica</h1>
          <button class="btn btn-primary">Browse Products</button>
        </div>
    </div>
</div>
</header>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <img src="assets/images/farmerHoldingProduce.jpg" class="img-thumbnail img-fluid" />
      </div>
      <div class="s23-main-body col-lg">
        <div class="s23-app-card">
          <div class="s23-app-body">
            <div class="s23-app-users-container">
              <h1 style="font-family: cusFont;">Our Mission</h1>
              <p style="font-family: monospace">At the intersection of affordability, health, and community lies our
                mission to address the unique challenges faced by students at BCIT. By identifying the pressing issues
                of financial strain, dietary concerns, and social isolation, we endeavor to offer practical solutions
                through our app. Through direct engagement with local farmers, promotion of nutritious eating habits,
                and fostering of community ties, we strive to empower BCIT students to lead healthier, more connected
                lives.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="s23-main-body col-lg" style="background-color: #21976f;">
        <div class="s23-app-card">
          <div class="s23-app-body">
            <div class="s23-app-users-container">
              <h1 style="font-family: cusFont;">Financial Relief</h1>
              <p style="font-family: monospace">Recognizing the escalating costs of living and studying, particularly
                for students at BCIT, we acknowledge the strain imposed by rising grocery prices. Through our app, we
                aim to mitigate this burden by establishing a direct link between consumers and local farmers. By
                cutting out intermediaries, we offer cost-effective alternatives to conventional grocery shopping,
                easing the financial strain experienced by students amidst tuition and rental expenses.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <img src="assets/images/studentBills.jpg" class="img-thumbnail img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <img src="assets/images/healthyFoods.jpg" class="img-thumbnail img-fluid" />
      </div>
      <div class="s23-main-body col-lg" style="background-color: #fc4f3e;">
        <div class="s23-app-card">
          <div class="s23-app-body">
            <div class="s23-app-users-container">
              <h1 style="font-family: cusFont;">Hollistic Wellness</h1>
              <p style="font-family: monospace">Amidst the hectic pace of student life, maintaining a balanced diet
                often takes a backseat, impacting both physical and mental health. Our initiative advocates for a shift
                towards whole foods sourced directly from local farmers. By prioritizing nutrient-rich options, we aim
                to enhance the overall well-being of BCIT students. Improved nutrition not only supports physical health
                but also contributes to mental resilience, fostering a conducive environment for academic success and
                personal growth.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="s23-main-body col-sm" style="background-color: #078ef1 ;">
        <div class="s23-app-card">
          <div class="s23-app-body">
            <div class="s23-app-users-container">
              <h1 style="font-family: cusFont;">Community Engagement</h1>
              <p style="font-family: monospace">In a fast-paced urban environment, the sense of community can often be
                elusive. Our platform seeks to bridge this gap by facilitating connections between students and local
                food suppliers. Beyond mere transactions, we envision a vibrant community where students engage in
                meaningful exchanges, sharing recipes, cooking tips, and experiences centered around locally sourced
                ingredients. By cultivating these connections, we aim to instill a sense of belonging and camaraderie
                among BCIT students, enriching their university experience.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <img src="assets/images/communityProduce.jpg" class="img-thumbnail img-fluid" />
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>