section img {
    border-radius: 32px;
}

section {
    border-radius: 32px;
}

.s23-main-body {
    background-color: #6962d9;
    border-radius: 32px;
    box-shadow: 0 0 20px #ececf1;
}

.home-img {
    border: none;
}

.s23-app-card {
    min-height: 10px;
    padding-bottom: 30px;
}

.s23-app-users-container {
    width: 100%;
}

.fss-1 {
    font-size: 4em;
    font-family: Nunito;
}

.btn-outline-info {
    color: rgba(74, 119, 60);
    border-color: rgba(74, 119, 60);
}

.btn-outline-info:hover {
    background-color: rgba(74, 119, 60);
    color: white;
}

#text-h-size, #text-h-size-last {
    font-size: xxx-large;
}

@media screen and (max-width: 380px) {
    #logo-size {
        font-size: xxx-large;
    }

    #text-h-size, #text-h-size-last {
        font-size: xx-large;
    }

    /* #text-h-size-last {
        font-size: 17pt;
    } */
}