<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand mx-2 fs-2" href="#">LOGO</a>
        <div>
            <a class="nav-link active fs-2" aria-current="page" href="#"><i class="bi bi-house fs-2"></i></a>
        </div>
        <div class="d-flex">
            <a class="nav-link active mx-2 fs-5" aria-current="page" href="./login.html">Login / Sign up</a>
            <a class="nav-link active mx-2 fs-4" aria-current="page" href="#"><i class="bi bi-person-circle"></i></a>
        </div>
    </div>
</nav>