<app-nav></app-nav>

<header class="py-3">
  <div class="text-center my-5">
    <p class="text-black fs-5 mb-0">Welcome to</p>
    <h1 class="text-black fs-1 fw-bolder">Organica</h1>
    <button class="btn btn-primary">Browse Products</button>
  </div>
</header>

<section>
  <div class="container mb-5">
    <img src="assets/images/studentBills.jpg" class="img-thumbnail img-fluid" />
    <div class="s23-main-body col-lg">
      <div class="s23-app-card">
        <div class="s23-app-body">
          <div class="s23-app-users-container">
            <h1 style="font-family: cusFont;">The Problem</h1>
            <p style="font-family: monospace">Costs of living are at an all time high and students are struggling to afford to feed themselves, having to resort to BCIT's food bank program.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mb-5">
    <img src="assets/images/farmerHoldingProduce.jpg" class="img-thumbnail img-fluid" />
    <div class="s23-main-body col-lg" style="background-color: #4a773c;">
      <div class="s23-app-card">
        <div class="s23-app-body">
          <div class="s23-app-users-container">
            <h1 style="font-family: cusFont;">Our Solution</h1>
            <p style="font-family: monospace">Through our app, we aim to mitigate this burden by establishing a direct link between consumers and local farmers. By
              cutting out intermediaries, we offer cost-effective alternatives to conventional grocery shopping.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mb-5">
    <img src="assets/images/healthyFoods.jpg" class="img-thumbnail img-fluid" />
    <div class="s23-main-body col-lg" style="background-color: #da291c;">
      <div class="s23-app-card">
        <div class="s23-app-body">
          <div class="s23-app-users-container">
            <h1 style="font-family: cusFont;">Hollistic Wellness</h1>
            <p style="font-family: monospace">According to the Provincial Health Services Authority, Farm-to-school initiatives have the potential to contribute to healthy eating. This is crucial for a healthier body and mind in an increasingly isolated and challenging world.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mb-3">
    <img src="assets/images/communityProduce.jpg" class="img-thumbnail img-fluid" />
    <div class="s23-main-body col-sm" style="background-color: #0076a5;">
      <div class="s23-app-card">
        <div class="s23-app-body">
          <div class="s23-app-users-container">
            <h1 style="font-family: cusFont;">Community Engagement</h1>
            <p style="font-family: monospace">The availability of culturally appropriate/traditional fresh fruits and vegetables can be an important part of healthy eating for immigrant populations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>