<app-nav></app-nav>

<div class="login-cmp card container login-card p-5 my-5 rounded-4 w-50">
    <div class="mb-5">
        <h1 class="mb-4 c-green">
            Login
        </h1>
        <form (ngSubmit)="onLogin()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-4" name="username" [(ngModel)]="username" id="username" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-4" name="password" [(ngModel)]="password" id="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <input type="button" (click)="onLogin()" value="Login" class="login-btn w-50 mx-auto rounded-4 bg-green c-white">
        </form>
    </div>
    <div class="mb-3">
        <h5>
            Don't have an account?
        </h5>
        <a (click)="redirectRegister()">Create an account ></a>
    </div>
    <div>
        <h5>
            <a href="#">Forgot Password?</a>
        </h5>
    </div>
</div>

<app-footer></app-footer>