<div class="card container text-center p-5 mt-5 rounded-0 bg-yellow">
    <div class="mb-5">
        <h1 class="mb-4 c-green">
            Login
        </h1>
        <form (ngSubmit)="onLogin()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-0" name="username" [(ngModel)]="username" id="username" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-0" name="password" [(ngModel)]="password" id="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <input type="submit" value="Create Account" class="btn btn-lg w-50 mx-auto rounded-0 bg-green c-white">
        </form>
    </div>
    <div class="mb-3">
        <h5>
            Don't have an account?
        </h5>
        <a href="./sign-up.html">Create an account ></a>
    </div>
    <div>
        <h5>
            <a href="#">Forgot Password?</a>
        </h5>
    </div>
</div>