a {
    cursor: pointer;
}

ul a:hover {
    color: black;
}

.register-cmp {
    font-family: Nunito;
}

.regi-btn {
    border: none;
    padding: 10px 7px;
}

.info-btn {
    border: none;
    padding: 7px 7px;
}

.btn-primary {
    border-color: rgba(74, 119, 60);
}

.btn-primary:hover {
    background-color: rgba(74, 119, 60);
}