<app-nav></app-nav>

<div class="input-group" id="searchbar">
    <div class="form-outline" data-mdb-input-init>
        <input type="search" id="form1" class="form-control" placeholder="Search for Product" />
    </div>
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
        <i class="fas fa-search" (click)="test_f()"></i>
    </button>
</div>


<form id="sorter">
    <p><b>Showing Results for:</b></p>
    <label for="sort">Sort By:</label>
    <select name="cars" id="sort">
        <option value="Date">Date</option>
        <option value="Fulfilled">Fulfilled</option>
    </select>
</form>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let x of prods">
                <div class="card shadow-sm">
                    <img src={{x?.image}}>
                    <div class="card-body">
                        <p class="card-text">{{x?.name}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>