<app-nav></app-nav>

<div class="input-group" id="searchbar">
    <div class="form-outline" data-mdb-input-init>
        <input type="search" id="form1" class="form-control" placeholder="Search for Product" />
    </div>
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
        <i class="fas fa-search" (click)="test_f()"></i>
    </button>
</div>


<form id="sorter">
    <p><b>Showing Results for:</b></p>
    <label for="sort">Sort By:</label>
    <select name="cars" id="sort">
        <option value="Date">Date</option>
        <option value="Fulfilled">Fulfilled</option>
    </select>
</form>

<div class="container" id="main_con">
    <table class="table table-condensed table-fixed user-table faq-table dataTable">
        <tbody>
            
            <tr *ngFor="let x of prods">
                <td width="10%">
                    <div>
                        <!-- <h6><a href="javascript:void(0);" *(click)="route(booking._id, 'view')">{{x?._id}}</a></h6> -->
                        <h6><a href="javascript:void(0);">{{x?.name}}</a></h6>
                    <h6>{{x?.current}} / {{x?.min}}</h6>

                    </div>
                </td>
            
            </tr>
            <tr>
                <td>
                    <div>You've reached the bottom</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>
