<footer class="text-center">
    <div class="py-4 d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
        </button>
    </div>

    <div class="text-center py-3 footer-footer">
        2024 :
        <a class="text-white"
            href="https://qds-hacks-2024.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">
            QDS Hackathon
        </a>
    </div>
</footer>