<footer class="bg-green">
    <div class="d-flex align-items-center justify-content-between py-3">
        <div>
            <img class="logo mx-2" src="assets/images/logo-yellow.png">
            <a class="navbar-brand fs-5 c-black">Organica</a>
        </div>
        <div>
            <div>
                <i class="bi bi-twitter mx-2"></i>
                <i class="bi bi-facebook mx-2"></i>
                <i class="bi bi-instagram mx-2"></i>
            </div>
            <div class="text-center">
                &copy; Organica
            </div>
        </div>
    </div>
</footer>