<footer class="bg-green">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <img class="logo mx-2" src="assets/images/logo-yellow.png">
            <a class="navbar-brand fs-5 c-black">Organica</a>
        </div>
        <div>
            <i class="bi bi-twitter mx-2"></i>
            <i class="bi bi-facebook mx-2"></i>
            <i class="bi bi-instagram mx-2"></i>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link c-black" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link c-black" href="#">FAQs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link c-black" href="#">About Us</a>
            </li>
        </ul>
    </div>
    <div class="py-4 text-center text-center">
        2024 :
        <a class="text-white"
            href="https://qds-hacks-2024.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">
            QDS Hackathon
        </a>
    </div>
</footer>