/* In angular standardize common styles like these: */

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.bg-yellow {
    background-color: rgba(255, 205, 0);
}

.bg-green {
    background-color: rgba(74, 119, 60);
}

.c-green {
    color: rgba(74, 119, 60);
}

.c-white {
    color: white;
}

.c-black {
    color: black;
}
